<mat-toolbar fixed *ngIf="pages" class='chipColor1' style='z-index:1000!important'>
  <div class="container d-flex flex-row align-items-center justify-content-center mr-5 ">

    <div *ngIf="showSide" class="right-arrow d-md-none" style="position:relative;margin-top: 1.3%;margin-right:60%">
      <button type="button" mat-mini-fab (click)="showSide=!showSide" class="chipColor2" (click)="drawer.toggle()" color="primary">
        <mat-icon >keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div *ngFor="let button of pages" class="d-flex flex-row align-items-center justify-content-center justify-content-around btn-group mr-5">
      <div>
        <button mat-icon-button (click)="navbarSelecter()" [routerLink]='button.route' class='d-none d-md-block'>
          {{button.title}} <mat-icon class="btn-menu"><img class='imgLikeIcon' [src]="button.icon" /></mat-icon>
        </button>
      </div>
    </div>

  </div>
</mat-toolbar>

<mat-drawer-container class="right-arrow d-md-none " autosize>
  <mat-drawer #drawer class="side-nav-left " mode="side">
    <div class="side-nav-content chipColor">
      <div class="left-btn" *ngIf="!showSide">
        <button (click)="showSide=!showSide" mat-mini-fab type="button" class="chipColor2" mat-button (click)="drawer.toggle()" color="primary">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <mat-list>
        <mat-list-item (click)="navbarSelecter()" *ngFor="let button of pages" [routerLink]='button.route'>
          <button   mat-raised-button (click)="showSide=!showSide" class="chipColor2" (click)="drawer.toggle()">
            {{button.title}}
            <mat-icon class="btn-menu"><img class='imgLikeIcon' [src]="button.icon" /></mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-drawer>
</mat-drawer-container>
